html {
    font-family: helvetica, sans-serif;
}

body {
    background-color: #1a1a1a;
    color: #fff;
}

/* links are always white */
a, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

hr {
    background-color: #fff;
}

#project_name {
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}

#project_name:hover {
    cursor: default;
}

#project_name span {
    float: right;
}

.image {
    width: 25%;
    margin-right: 4px;
    height: 200px;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    display: inline-block;
}

.image a {
    display: block;
    width: 100%;
    height: 100%;
}

#container {
  white-space: nowrap;
  overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

#container .image {
    animation: moveSlideshow 15s linear infinite;
}

@keyframes moveSlideshow {
    100% { 
        transform: translateX(-500%);  
    }
}

#desc {
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}
