@font-face {
    font-family: 'din-light';
    src: url('../font/din_light.ttf');
}

@font-face {
    font-family: 'din-medium';
    src: url('../font/din_medium.ttf');
}

html {
    font-family: 'din-light', helvetica, sans-serif;
}

body {
    /* grey background */
    /* background-color: #1a1a1a; */
    background-color: #000;
    color: #fff;
}

hr {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    font-family: 'din-medium', helvetica, sans-serif;
    padding-left: 30px;
}

li {
    font-family: 'din-light', helvetica, sans-serif;
    margin-top: 12px;
    font-size: 13pt;
}

li:first-child {
    margin-top: 15px;
}


/* links are always white */
a, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}

#logo {
    width: 40%;
    margin-left: 30px;
    margin-top: 20px;
}

@media screen and (max-width: 800px) { #logo { width: 60%; } }
@media screen and (max-width: 600px) {
    #logo {
        width: 80%;
        margin: 20px auto;
        display: block;
    }
}

hr {
    background-color: #fff;
}

#project_name {
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
    font-family: 'din-medium', helvetica, sans-serif;
}

#project_name:hover {
    cursor: default;
}

#project_name span {
    float: right;
}

.project {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 45px;
    text-align: left;
    font-family: 'din-medium', helvetica, sans-serif;
}

.project:hover {
    cursor: default;
}

.project span {
    float: right;
}

.image {
    height: 230px;
}

.image img {
    height: 230px;
    margin-right: 4px;
    display: inline-block;
}

body { 
    /* prevent body scrolling */
    overflow-x: hidden;
}

.container {
    /* images next to eachother */
    white-space: nowrap;
    /* let user scroll through galery */
    overflow: scroll;
    /* don't show scrollbar in firefox */
    scrollbar-width: none
}

::-webkit-scrollbar {
    display: none;
}

.container .image img {
    animation: moveSlideshow 15s linear infinite;
}

@keyframes moveSlideshow {
    100% { 
        /* transform: translateX(-500%); */  
        /* use absolute value to allow images with different widths */
        transform: translateX(-2000px);  
    }
}

#desc {
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}


/* LOGIN PAGE */
#popup {
    height: 400px;
    display: block;
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

#popup h3 {
    font-family: 'din-medium', helvetica, sans-serif;
    color: #fff;
    padding-top: 50px;
}

#popup form input {
    width: 255px;
    height: 30px;
    font-size: 20px;
    font-family: 'din-light', helvetica, sans-serif;
    text-align: center;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}

@media screen and (max-width: 600px) {
    #popup {
        width: 80%;
    }

    #desc {
        width: 80%;
        margin-top: 40px;
    }
}
